<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <title>Splatoon 3 Anarchy Calculator | LuSkywalker</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <script src="https://kit.fontawesome.com/7205443a15.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3.2.20/dist/vue.global.prod.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

    <link rel="icon" href="/splatoon/img/bot-icon.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="/splatoon/styles/font.css?v={BUILD_TIMESTAMP}">
    <link rel="stylesheet" href="/splatoon/styles/img.css?v={BUILD_TIMESTAMP}">
    <link rel="stylesheet" href="/splatoon/styles/index.css?v={BUILD_TIMESTAMP}">

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D4V7RWXWH1"></script>
    <script src="/splatoon/scripts/ga.js?v={BUILD_TIMESTAMP}"></script>
</head>
<body class="splatoon3 d-flex flex-column text-white">
    <header>
        <nav class="navbar navbar-expand flex-column flex-md-row py-3 justify-content-center">
            <div class="splatoon-style-1 text-center mt-5">
                <span class="navbar-brand mb-0 h1 mr-0 mr-md-2 fs-1 splatnet-icon">
                    Splatoon 3
                </span>
            </div>
        </nav>
    </header>
    <main class="flex-grow-1 flex-shrink-0 splatoon-style-1" id="app">
        <div class="main-inner container my-4">
            <div class="row align-items-center">
                <div class="col-12 col-sm-10 col-md-8 mx-auto">
                    <div class="card anarchy-card text-center">
                        <div class="dropdown-center rank">
                            <button class="btn btn-secondary dropdown-toggle fs-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ranking_str}}
                            </button>
                            <ul class="dropdown-menu">
                                <li v-for="rank in rank_list" class="dropdown-item splatoon-style-2 text-center"
                                    :class="ranking_str == rank ? 'selecting-rank' : 'clickable'"
                                    @click="update_ranking(rank)">{{rank}}</li>
                            </ul>
                        </div>
                        <div class="card-dashed mx-4"></div>
                        <div class="row result-boxs mx-5 mt-4 round-18 justify-content-center">
                            <div v-for="(res, ridx) in results" class="col-10 col-sm-8 col-md-6 col-lg-3 m-1 result-tag text-start px-1">
                                <span class="clickable" :class="res.win ? 'win' : 'lose'" @click="next_state(ridx)">
                                    {{ res.win ? 'WIN' : 'LOSE' }}
                                </span>
                                <div class="d-inline-block float-end">
                                    <img v-for="(m, midx) in res.medals" class="medal clickable"
                                        :src="'/splatoon/img/anarchy-' + get_medal_str(m) + '.png'"
                                        :alt="get_medal_str(m)" :class="get_medal_str(m)"
                                        @click="next_medal(ridx, midx)">
                                </div>
                            </div>
                            <div v-if="!is_done" class="col-10 col-sm-8 col-md-6 col-lg-3 my-1 result-tag text-center px-1 add-result clickable" @click="add_result_entry">
                                <span>+</span>
                            </div>
                        </div>
                        <div class="points mt-3 mb-2">
                            <span class="fs-5 total">TOTAL</span><br>
                            <span class="fs-1 pe-1">=</span>
                            <span class="fs-1 total-pt">{{total_pt}}</span>
                            <span class="fs-2 ps-1">p</span><br>
                            <span :class="actually_pt > 0 ? 'text-success' : actually_pt < 0 ? 'text-danger' : ''">({{actually_pt}}p)</span>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <button type="button" class="btn btn-sp3 px-4 splatoon-style-2 round-18" @click="reset_results($event)">
                            <i class="splatoon-style-1 fas fa-reset pe-1"></i>
                            Reset
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="splatoon3">
        <div class="footer-inner container py-3 text-white-50 text-center">
            This calculator is capable with Splatoon 3 version 1.1.2<br>
            &copy; 2022 v0.1.2 LuSkywalker.
            <a href="https://github.com/luswdev/SplatoonBot" class="text-decoration-none">
                <i class="fab fa-github"></i> 
            </a>
            <a href="https://twitter.com/luswdev" class="text-decoration-none">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
    </footer>
    <script src="/splatoon/scripts/cookies.js?v={BUILD_TIMESTAMP}"></script>
    <script src="/splatoon/scripts/anarchy-const.js?v={BUILD_TIMESTAMP}"></script>
    <script src="/splatoon/scripts/anarchy.js?v={BUILD_TIMESTAMP}"></script>
</body>
</html>
