{
    "en": "",
    "ja": "",
    "nl": "",
    "frA": "",
    "frE": "",
    "de": "",
    "it": "",
    "ru": "",
    "esA": "",
    "esE": "",
    "zhCN": "",
    "zhTW": "",
    "ko": "",
    "icon": "",
    "color": ""
}