
:root {
    --sp3-primary-1: #6949ED;
    --sp3-primary-2: #F6FE54;
    --sp2-primary: #CDF523;
    --regular: #19D719;
    --ranked: #F54910;
    --x-ranked: #E1562B;
    --league: #F02D7D;
    --private: #A41FE1;
}