@font-face {
    font-family: Splatoon1;
    src: url(../fonts/splatoon1.woff2);
}

@font-face {
    font-family: Splatoon2;
    src: url(../fonts/splatoon2.woff2);
}

.splatoon-style-1 {
    font-family: 'Splatoon1', sans-serif;
}

.splatoon-style-2 {
    font-family: 'Splatoon2', sans-serif;
}