@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #202020;
    background-image: url(../img/bg.png);
    background-position: top;
    background-size: 360px 360px;
}

body.splatoon3 {
    background-image: unset;
    background-color: #131313;
}

footer {
    font-size: .8rem;
    font-family: 'Roboto', sans-serif;
}

footer a {
    color: #f54910;
}

footer a:hover {
    color: #f02d7d;
}

footer.splatoon3 a {
    color: #DCDCDD;
}

footer.splatoon3 a:hover {
    color: #6949ED;
}

.round-32 {
    border-radius: 32px !important;
}

.round-18 {
    border-radius: 18px !important;
}

.round-12 {
    border-radius: 12px !important;
}

.fs-dec-8 {
    font-size: .8rem;
}

.w-6-25-rem {
    width: 6.25rem;
}

.intro-box {
    margin: 8rem 0;
}

.btn.btn-clear {
    -webkit-appearance: none;
    -webkit-user-select:none;
    user-select:none;
    -webkit-touch-callout: none;
    background: hsla(0,0%,47.8%,.4);
    border: hsla(0,0%,47.8%,.9);
    color: #dbdbdb;
}

.btn.btn-clear:hover,
.btn.btn-clear:active,
.btn.btn-clear:focus {
    background: hsla(0,0%,71%,.5);
    border: #b5b5b5;
    color: #fff;
    outline: none;
}
.squid-card-hook-mask::before,
.squid-card {
    background-image: linear-gradient(180deg, transparent, rgba(36, 36, 36, .1)), var(--squid-card-bg-img);
    background-position: top;
    background-size: 100% 100%,80px 80px;
    text-shadow: 1px 1px 0 #000;
}

.squid-card.squid-card-mask {
    -webkit-mask-image: var(--squid-card-mask-img);
    mask-image: var(--squid-card-mask-img);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 600px 960px;
    mask-size: 600px 960px;
    -webkit-mask-position: center top;
    mask-position: center top;
    padding-top: 18px;
}

.squid-card .keyword {
    background-color: #460fc8;
    padding: 2px 48px 2px 20px;
    margin: 0 0 10px -16px;
}

.squid-card .keyword.keyword-mask {
    -webkit-mask-image: var(--squid-card-keyword-img);
    mask-image: var(--squid-card-keyword-img);
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-position: right center;
    mask-position: right center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.squid-card .list-group-item {
    background: rgba(0, 0, 0, .7);
    border-color: rgba(255, 255, 255, .125);
}

.squid-card .list-group-item .squid-icon {
    transform: rotate(25deg);
}

.squid-card-hook-mask::before {
    content: "";
    position: absolute;
    background-position-y: bottom!important;
    width: 100%;
    height: 29px;
    top: -28px;
    left: 0;
    background-color: #f02d7d;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.squid-card-hook-mask::before {
    -webkit-mask-image: var(--squid-card-hook-img);
    mask-image: var(--squid-card-hook-img);
    -webkit-mask-size: 36px 29px;
    mask-size: 36px 29px;
    -webkit-mask-position: center top;
    mask-position: center top;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.squid-card .list-group-item .squid-icon .fa-squid:before {
    content: "\e065";
}

.rank-table {
    background-color: rgba(0, 0, 0, .6);
}

table thead th {
    font-size: .8rem;
    font-weight: normal;
}

.rank-table table thead {
    width: 100%;
    height: 2.5px;
    background-image: linear-gradient(to right, rgba(219,219,219,.5) 0%, rgba(219,219,219,.5) 50%, transparent 50%);
    background-size: 4px 2.5px;
    background-repeat: repeat-x;
    background-position: bottom;
}

.tilt-left {
    transform: rotate(-1.4deg);
}

.tilt-right {
    transform: rotate(1.4deg);
}

.top-rank-mask {
    width: 6.5rem;
    left: 38%;
    top: -1.625rem;
}

.top-rank {
    font-size: 1.75rem;
    left: 47.5%;
    top: 0.425rem;
    color: #CDF523;
}

.info-card {
    background-color: #A0A09F;
    color: #474748;
}

.info-card .league-result {
    border-color: #919190 !important;
}

.info-card .league-power {
    color: #000;
}

.info-card .league-metal {
    color: #CACBCB;
    background-color: #282828;
}

.info-card .league-metal img {
    height: 1.375rem;
}

.info-card .league-peak {
    font-size: .8rem;
}

.league-metal-container {
    margin-left: 5rem;
}

.league-icon {
    width: 4rem;
    height: 1.875rem;
    vertical-align: top;
    font-size: .8rem;
    letter-spacing: 1.125px;
}

.col {
    max-width: 420px;
}

.league-icon img {
    height: 1.75rem;
}

.splatnet-icon img {
    width: 20rem;
    margin-bottom: -4rem;
    margin-top: -2rem;
}

.battle-table th,
.battle-table td {
    border-color: #BC59E9 !important;
}

.battle-table tbody td {
    font-size: 2.425rem;
}

.summary-title {
    text-shadow: none;
}

.summary-row  {
    color: #C3BFC5;
    background-color: rgba(0, 0, 0, .6);
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}

.summary-row .summary-icon {
    height: 1rem;
    max-height: 1rem;
    overflow: visible;
    vertical-align: top;
}

.summary-row .summary-icon {
    height: 1rem;
    max-height: 1rem;
    overflow: visible;
    vertical-align: top;
}

.summary-row .summary-icon img {
    height: 2rem;
    margin-top: -.375rem;
}

.fa-octo:before {
    content: "\e064";
}

.x-row {
    background-color: rgba(0, 0, 0, .875);
    font-size: .8rem;
}

.x-row .x-mode {
    width: 25%;
    white-space: pre-line;
}

.x-row .x-weapon {
    width: 3rem;
}

.x-row .x-weapon img {
    height: 2rem;
}

.x-row .x-power {
    width: calc(75% - 3rem);
}

.x-row .x-power hr {
    margin: .3rem 0 .3rem 0;
    border: 2px dotted #878787;
    border-style: none none dotted;
    background-color: unset;
    opacity: 1;
}

.x-row .x-power .peak-power {
    color: #878787;
}

.anarchy-card {
    background-color: #0A0A0A;
}

.anarchy-card .dropdown.rank button {
    background-color: transparent;
    border: none;
    color: #F4FF0A;
    box-shadow: none;
}

.anarchy-card .dropdown.rank button::after {
    color: rgba(150,150,150,.5);
}

.anarchy-card .dropdown.rank .dropdown-menu {
    background-color: #212121;
    color: #fff;
}

.anarchy-card .dropdown.rank .dropdown-menu .dropdown-item {
    color: #fff;
}

.anarchy-card .dropdown.rank .dropdown-menu .dropdown-item:hover {
    background-color: #131313;
    color: #fff;
}

.anarchy-card .card-dashed {
    width: calc( 100% - 1.5rem * 2 );
    height: 3.5px;
    background-image: linear-gradient(to right, rgba(150,150,150,.5) 0%, rgba(150,150,150,.5) 50%, transparent 50%);
    background-size: 20px 3.5px;
    background-repeat: repeat-x;
    background-position: bottom;
}

.anarchy-card .result-tag {
    background-color: #1B1B1B;
    border-radius: 2.75px;
}

.anarchy-card img.medal {
    height: 1.5rem;
}

.anarchy-card .add-result {
    border: 1px dashed rgba(150,150,150,.5) !important;
    color: rgba(150,150,150,.5);
    background-color: transparent;
}

.anarchy-card .win {
    color: #F6FE54;
}

.anarchy-card .lose {
    color: #6949ED;
}

.anarchy-card span.total {
    color: #DCDCDD;
}

.anarchy-card span.total-pt {
    font-size: 3.75rem !important;
    letter-spacing: 0.215rem;
}